
body {
  font-family: Cambria, Cochin, Georgia, serif;
  background-color: #eaf1f8;  
  color: #2b2b2b;
  margin: 2%;
  padding: 7px;
  border-collapse: collapse;
}

header{
  background-color: #4f6d8a;
  color: #f4f7fb; 
  margin: 3%;
  text-align: center;
  padding: .5%;
  border-radius: 2em;
}

main{
  background-color: #f7f9fc;  
  color: #2f3b47;
  margin: 3%;
  padding:0px 0px;
  border-radius: 2em;
  text-align: center;
}

footer{
  background-color: #5f7f9c; 
  color: #f4f7fb;
  margin: 1%;
  border-radius: 2em;
  padding: 1%;
  text-align: center;
}

nav a{
  background-color: #c9d9e8;   /* pastel blue */
  color: #2f3b47;
  color:rgb(15, 15, 15);
  margin: 5px;
  border-radius: 15px;
  padding: 2.5%;
  text-decoration: none;
}
nav a:hover {
  background-color: #dbe7f3;
  border: rgb(19, 139, 85);
  color:rgb(15, 15, 15);
  margin:6px;
  padding: 3%;
  text-decoration: none;

}  



tr th {
  background-color: #4f6d8a;
  color: #f4f7fb;
  border-color: #3e566e;
  border:1px solid rgb(112, 106, 93);
  padding: .5%;
  font-size: large;
  overflow-wrap: break-word;
  border-top: 2px solid rgb(112, 106, 93);
  border-right: 2px solid rgb(112, 106, 93);
}

tr td{
  background-color: #f1f6fb;
  color: #2f3b47;
  border-color: #d0dce8;
  border:2px solid rgb(112, 106, 93);
  padding:1%;
  overflow-wrap: break-word;
}

table {
  margin: 0%;
  width: 100%;        
  text-align: center;
  border-collapse: collapse;
  border-radius: 0 0 2em 2em;
  table-layout: fixed;      /* Added to prevent table from overflowing main when window changes size. */
}

input, select{
  padding: 5px;
  margin-bottom: 5px;
  background-color: #eef4fa;
  color: #2f3b47;
}

.input-number-box{
  field-sizing: content;
  min-width: 50px;
  max-width: 125px;
}


button {
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
  background-color: #9bb7d3;
  color: #1f2a36;
}

button:hover{
  background-color: #7fa1c2;
  padding: 7px;
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
}
h2 {
  text-align: center;
  color: rgb(0,0,0);
}
.exercise-table-label{
  text-decoration: underline;
  padding: 1.5%;
}

form{
  margin: auto;        
  text-align: center;
  padding: 2%;
  color: rgb(7, 32, 106); 
  border-collapse:collapse;
  font-weight: bold;
  font-size: x-large;
  border-spacing: 10px;
  gap: 5px;
  align-items: center;
}

label{
  display: inline-block;
  text-align: center;
  width: 200px;
  padding-right: 1.5%;
}

.nav-bar{
  list-style-type: none;
  margin: 0;
  margin-left: auto;
  display:inline-block;
  width: 100%;
}
